html,
body {
  height: 100%;
  min-height: 100vh;
  position: relative;
}

body {
  font-family: $fontMain;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.1;
  color: $black;
  overflow-x: hidden;
  background-color: $white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  &.default {
    display: flex;
    flex-direction: column;
  }
  section {
    display: flex;
    width: 100%;
    &.center {
      justify-content: center;
    }
  }
}

a {
  text-decoration: none;
  font-family: inherit;
  color: $black;
  font-weight: bold;
}

h2 {
  font-weight: 800;
  font-size: 2rem;
  color: $black;
}
