html,
body {
  height: 100%;
  min-height: 100vh;
  position: relative;
}

body {
  font-family: $fontMain;
  font-size: 16px;
  font-weight: normal;
  color: $black;
  overflow-x: hidden;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
  margin: auto;
  background-size: cover;
  &.default {
    display: flex;
    flex-direction: column;
    padding-top : 75px;
  }
  section {
    display: flex;
    width: 100%;

    &.center {
      justify-content: center;
    }
  }
}

.header {
  @include breakpoint(xl) {
    width: 90%;
    margin:auto;
  }
}
.container {
  max-width: 1366px;
  margin: 0px auto;
  padding: 50px 0;
  
  @include breakpoint(xl) {
    width: 95%;
  }
  @include breakpoint(md) {
    width: 90%;
  }
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.main-color {
  color: $main-color
}

h1, h2, h3, p {
  margin-bottom: 26px;
}

h1 {
  font-size: 70px;
  line-height: 1.25;
  @include breakpoint(xs) {
    font-size: 40px;
  }
}

h2 {
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 26px;
  @include breakpoint(xs) {
    font-size: 30px;
  }
}

h3, h4 {
  font-size: 24px;
  line-height: 1.25;
}

h5 {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

ul, ol {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

p, li  {
  line-height: 1.5;
}

:focus-visible {
  outline: none;
  border: solid $grey 2px;
  border-radius: 5px;
}

.page_header {
  width: 800px;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;

  @include breakpoint(md) {
    width: 750px;
  }

  @include breakpoint(sm) {
    width: 90%;
  }
}

button {
  @include button(16px);
}