.demo {

	// yolo
	.container {
		padding: 50px 0 0 0;
	}

	i {
		cursor: pointer;
	}

	.hero_demo {
		padding-top: 50px;
		min-height: 30vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		text-align: center;

		p {
			width: 50%;
			margin-bottom: 2rem;

			@include breakpoint(md) {
				width: 90%;
			}
		}
	}

	.demo_section {
		background-color: $light-color;
	}

	.demo_container {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 60%;

		@include breakpoint(md) {
			grid-template-columns: 1fr;
		}
	}

	.explanation_list {
		width: 100%;
		margin: 3rem auto 0px;
		@include breakpoint(xl){
			padding: 0px 30px;
		}

		h3 {
			margin: 30px 0px;
		}

		ol {
			padding-left: 30px;
			color: $main-color;
			font-weight: bold;
			font-size: 20px;
		}

		li {
			margin-bottom: 10px;
			@include breakpoint(xs) {
				font-size: 18px;
			}
		}

		.black {
			color: $black;
			font-weight: 400;
		}

		.icons_demo {
			width: 80%;
			padding: 20px;

			@include breakpoint(md) {
				display: none;
				width: 0px;
			}
		}
	}

	.form_and_calendar {
		background-color: $white;
		margin: 2rem auto;
		text-align: center;
		padding: 20px;
		border-radius: 30px;
		box-shadow: 0 3px 30px $light-color;
		width: 100%;
		max-width: 650px;
		height: 694px;

		@include breakpoint(md) {
			width: 75%;
			height: fit-content;
		}

		@include breakpoint(sm) {
			width: 80%;
			min-height: 750px;
		}

		@include breakpoint(xs) {
			width: 90%;
		}

		.demo_grid {
			display: grid;
			grid-template-rows: 128px 459px 85px;

			@include breakpoint(md) {
				display: flex;
				flex-direction: column;
			}
		}

		.form_header {
			position: relative;
			min-height: 145px;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			@include breakpoint(md) {
				padding: 25px 0px;
			}

			i {
				position: absolute;
				color: $main-color;
				font-size: 25px;
				padding: 8px;
				left: -3px;
				top: -5px;

				&:hover {
					background-color: $main-color;
					color: $white;
				}
			}
		}


		#demo_form {

			.response {
				height: 16px;
				font-size: 12px;
				margin: 4px 0;
				color: red;
				display: flex;
				flex-direction: row;

				.response_text {
					padding-left: 6px;
				}
			}

			input[type=text],
			input[type=email],
			input[type=tel] {
				border: solid $grey 1px;
				border-radius: 5px;
				padding: 5px;
				width: 100%;
				height: 38px;
				margin-top: 8px;

				@include breakpoint(sm) {
					height: 32px;
					margin-top: 6px;
				}
			}

			input[type=submit] {
				@include button(12px, hollow);
				width: 60%;
				margin: 0 auto;
			}

			input[type=text]:focus-visible,
			input[type=email]:focus-visible,
			input[type=tel]:focus-visible {
				outline: none;
				border: solid $main-color 1px;
			}

			#agency_container {
				position: relative;
				display: flex;
				justify-content: center;
				flex-direction: column;
				width: 150px;

				@include breakpoint(md) {
					margin-bottom: 2rem;
				}

				.tabs {
					display: flex;
					position: relative;
					background-color: $light-color;
					padding: 4px;
					border-radius: 99px;
					margin-top: .5rem;
				}

				.tabs * {
					z-index: 2;
				}

				input[type="radio"] {
					display: none;
				}

				.tab {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 30px;
					width: 70px;
					border-radius: 99px;
					cursor: pointer;
					transition: color 0.15s ease-in;
				}

				input[type="radio"]:checked+label {
					color: black;
				}

				input[id="no"]:checked~.glider {
					transform: translateX(0);
				}

				input[id="yes"]:checked~.glider {
					transform: translateX(100%);
				}

				.glider {
					position: absolute;
					display: flex;
					height: 30px;
					width: 70px;
					z-index: 1;
					border-radius: 99px;
					color: $black;
					background-color: $white;
					transition: 0.25s ease-out;
				}
			}

			#form_grid {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 2rem;
				padding: 50px 20px;
				text-align: left;

				@include breakpoint(md) {
					padding: 20px;
				}

				@include breakpoint(sm) {
					grid-template-columns: 1fr;
				}

				@include breakpoint(xs) {
					font-size: 14px;
					padding: 0;
				}
			}

			#consent_container {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				text-align: left;
				font-size: 12px;
				grid-column: 1/3;

				@include breakpoint(sm) {
					grid-column: 1/1;
					p {
						padding-bottom: 24px;
					}
				}

				label {
					margin-left: .5rem;
				}

				@include breakpoint(xs) {
					padding: 0;
				}
			}
		}

		.demo_form_container {
			display: block;
			// display: none;
		}

		.demo_gif {
			// display: block;
			display: none;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;

			img {
				width: 40%;
			}
		}

		.calendar_container {
			// display: block;
			display: none;
			width: 100%;
		}

		#book_btn {
			@include button(12px, hollow);
			width: 60%;
			margin: 0 auto;
		}

		.booking_form {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-top: 45px;

			@include breakpoint(sm) {
				height: fit-content;
				padding-top: 0px;
			}

			p {
				line-height: 1;
				margin-bottom: 0;
			}

			.calendar_and_time {
				display: flex;
				flex-direction: row;
				justify-content: space-around;

				padding: 10px;
				gap: 1rem;

				@include breakpoint(sm) {
					flex-direction: column;
					width: 80%;
					margin: auto;
				}

				@include breakpoint(xs) {
					width: 100%;
					padding: 0px;
				}

				.calendar {
					border: solid 1px grey;
					border-radius: 5px;
					padding-bottom: 2px;
					padding: 10px;
					height: fit-content;
					min-width: fit-content;
					width: 100%;

					.month {
						width: 70%;
						display: flex;
						justify-content: space-between;
						padding: 8px;
						margin-bottom: 1rem;

						.month_display {
							font-size: 16px;
							margin-bottom: .5rem;
						}

						@include breakpoint(xs) {
							padding: .5rem;
							width: 100%;

							.month_display {
								font-size: 14px;
							}

							p {
								line-height: 1;
							}
						}
					}

					.weekdays {
						display: grid;
						grid-template-columns: repeat(7, 1fr);
						place-items: center;
						margin-bottom: .5rem;
						gap: 10px;

						@include breakpoint(xs) {
							gap: 5px;
							font-size: 14px;
						}
					}

					.days {
						width: 100%;
						display: grid;
						grid-template-columns: repeat(7, 1fr);
						place-items: center;
						gap: 10px;

						@include breakpoint(sm) {
							gap: 8px;
						}

						@include breakpoint(xs) {
							gap: 5px;
						}

						.day {
							font-size: 14px;
							width: 30px;
							height: 30px;

							cursor: pointer;
							display: flex;
							align-items: center;
							justify-content: center;
							border: solid 2px transparent;
							border-radius: 1000px;

							&:hover {
								background-color: $main-color;
								border: solid 2px $main-color;
							}

							@include breakpoint(sm) {
								width: 26px;
								height: 26px;
							}

							@include breakpoint(ss) {
								font-size: 12px;
								width: 22px;
								height: 22px;
							}
						}

						.today {
							border: solid 2px $main-color;
						}

						.date_selected {
							border: solid 2px $main-color;
							background-color: $main-color;
							color: white;
						}

						.prev_date,
						.next_date {
							opacity: 0;
							pointer-events: none;
						}
					}
				}

				.time {
					height: 100%;
					padding-top: 10px;
					min-height: 220px;
					width: 100%;
					min-width: 180px;

					@include breakpoint(md) {
						width: 80%;

						.slots,
						.no_slots,
						.time_gif {
							height: 100%;
							width: auto;
						}
					}

					@include breakpoint(sm) {
						margin: auto;
					}

					@include breakpoint(xs) {
						width: 100%;
					}

					.time_header {
						width: 80%;
						min-width: 160px;
						display: flex;
						justify-content: space-between;
						font-size: 16px;
						margin: auto;
						margin-bottom: 1rem;
						padding: 8px 1rem;

						@include breakpoint(md) {
							margin-bottom: 2rem;
						}

						@include breakpoint(xs) {
							font-size: 14px;
						}
					}

					.slots_container {
						width: 100%;

						@include breakpoint(md) {
							min-height: 190px;
						}
					}

					.slots {
						display: none;
						grid-template-columns: repeat(3, 1fr);
						grid-template-rows: repeat(4, 1fr);
						place-items: center;
						column-gap: 10px;

						@include breakpoint(xs) {
							gap: 5px;
						}
					}

					.no_slots {
						width: 100%;
					}

					.time_gif {
						display: none;
						padding: 20px;

						img {
							width: 40%;
							height: auto;
							margin: auto;
						}
					}

					.slot {
						font-size: 12px;
						padding: 10px 4px;
						border: solid 1px grey;
						border-radius: 5px;
						margin: 5px;
						width: 100%;
						max-width: 90px;

						&:hover:not(.time_selected) {
							background-color: $light-color;
							cursor: pointer;
						}

						@include breakpoint(xs) {
							font-size: 10px;
							padding: 8px 3px;
							margin: 3px;
						}
					}

					.time_selected {
						background-color: $main-color;
						color: $white;
						border: solid 2px $main-color;
						cursor: pointer;
					}

					.unavailable {
						display: none;
					}
				}
			}
		}
	}
}