.demo {

	.hero_demo {
		height: 20vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		p {
			width: 50%;
			text-align: center;
		}
	}

	.demo_section {
		background-color: $light-color;
	}

	.demo_container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: 60vh;
		padding: 40px 0;
		p {
			margin-bottom: 2rem;
		}
		@include breakpoint(md){
			grid-template-columns: 1fr;
		}
	}

	.explanation_list {
		width: 80%;
		margin: 3rem auto;
		h3 {
			margin-bottom: $mb;
		}
		ol {
			padding-left: 30px;
			color: $main-color;
			font-weight: bold;
			font-size: 20px;
		}
		li {
			margin-bottom: 10px;
		}
		.black {
			color: black;
			font-weight: 400;
		}
	}
	
	.form_and_calendar {
		background-color: $white;
		padding: 20px;
		width: 80%;
		margin: 2rem auto;
	}
	
	.form_header {
		text-align: center;
		h3 {
			margin-bottom: $mb;
		}
	}

	.form_and_calendar {
		width: 80%;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 3px 30px rgba(51, 170, 255, 0.25);
		@include breakpoint(sm){
			width: 95%;
		}
	}

	#demo_form {
		input[type=text] {
			border: solid grey 1px;
			border-radius: 5px;
			padding: 5px;
			width: 100%
		}
		
		input[type=submit] {
			@include button(12px, hollow);
			width: 60%;
			margin: 0 20%;
		}
		
		.form_item {
			margin-bottom: 1rem;
		}
		
		#form_grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 1rem;
		}
		
		#consent_container {
			font-size: 12px;
			text-align: justify;
		}

	}
	.demo_form_container {
		display: block;
		// display: none;
	}
	.calendar_container {
		// display: block;
		display: none;
	}
	.demo_gif {
		// display: block;
		display: none;
	}


	.response {
		color : $danger-color;
		font-weight: bold;
	}
	
	.success {
		color: green;
	}

	.calendar {

		text-align: center;
		
		p {
			margin-bottom: 0;
		}

		border: solid 2px grey;

		.month_display {
			font-size: 24px;
			margin-bottom: .5rem;
		}
		
		.month {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 2rem;
			margin-bottom: 1rem;
		}

		.month i {
			font-size: 20px;
			cursor: pointer;
		}

		.weekdays {
			display: grid;
			grid-template-columns: repeat(7, 1fr );
			place-items: center;
			margin-bottom: .5rem;
		}

		.days {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			place-items: center;
			
			.day {
				width: 90%;
				height: 90%;
				cursor: pointer;
				padding: 10px;
				background-color: $light-color;
				border-radius: 5px;

				&:hover {
					background-color: $main-color;
				}
			}

			.today, .selected {
				
				background-color: $main-color;
				color: white;
				font-weight: 800;
			}

			.prev_date, .next_date {
				opacity: .5;
			}
		}

	}

}