.hero_1 {
    height: 91vh;
    background-color: $light-blue;
}

.grid_btn_2 {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.hero_2_box {

    display: grid;
    grid-template-columns: 50% 1fr;

    img {
        width: 500px;
    }
}
