.home {
  h2,
  h3 {
    font-weight: bold;
    color: $black;
    max-width: 800px;
  }
  p {
    max-width: 800px;
  }

  // center button and img
  @include breakpoint(md) {   
    .hero_2_box img,
    .hero_3_box img {
      &:not(.picto) {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.hero_1 {
  text-align: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  .page_header {
    width: 1260px;
    padding: 90px 0px;
    @include breakpoint(md){
      padding: 50px 0px;
    }
  }

  h1 {
    max-width: 100vw;
    font-weight: bold;
    margin: 0 2rem;
    color: $black;

    @include breakpoint(md) {
      margin-top: 1rem;
    }
  }

  h3 {
    width: 80%;
    padding: 4rem 0;
    margin: auto;
    font-weight: 400;
    @include breakpoint(md){
      font-size: 16px;
      padding: 2rem 0;
    }
  }

  .trial_btn {
    @include button(16px);
    width: 226px;
    height: 60px;
  }

  .demo_btn {
    @include button(16px, hollow);
    width: 226px;
    height: 60px;
  }

  .grid_btn_2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 0px auto;

    @include breakpoint(sm) {
      flex-direction: column;
    }

    @include breakpoint(xs) {
      button {
        font-size: 16px;
        width: 260px;
        height: 60px;
      }
    }
  }
}

.hero_2,
.hero_3 {
  background-color: $light-color;
  .trial_btn {
    @include button(16px);
  }

  // TEST
  h2 {
    text-align: center;
    margin: 0 auto 26px;
    padding-bottom: 26px;
    @include breakpoint(xs) {
      text-align: left;
    }
  }
}

.hero_3_box {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
  @include breakpoint(md){
    align-items: flex-start;
  }
  p {
    text-align: center;
    @include breakpoint(md){
      text-align: left;
    }
  }
  .full_btn {
    @include button(16px);
  }
}

.hero_2_box,
.hero_4_box {
  margin: auto;
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 50px;

  @include breakpoint(md) {
    grid-template-columns: 1fr;
  }

  .left_box {
    align-self: center;
  }

  img {
    width: 575px;
    border-radius: 30px;
  }

  .hero_btn {
    @include button(16px, solid);
  }  
}

.hero_4_box {
  .trial_btn {
    @include button(16px);
  }
}

.hero_list {
  display: flex;
  align-items: center;
  justify-content: left;

  p {
    margin-bottom: 0;
  }

  .picto_bubble {
    background-color: $main-color;
    min-width: 36px;
    min-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;    
    margin-right: 20px;  
    .picto {
      width: 18px;
      border-radius: 0px;
    }
  }
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 26px;
  }
}

.feats_section {
  overflow: hidden;
  .feats_display_container {
    max-width: 1366px;
    position: relative;

    @include breakpoint(xl) {
      width: 100%;
    }
  }

  .img_shadow {
    z-index: -1;
    position: absolute;
    left: 43px;
    width: 317px;
    height: 288px;
    background-color: $lighter-color;
    border-radius: 30px;
    overflow: hidden;
    transform: rotate(-45deg);

    @include breakpoint(xs) {
      width: 264px;
      height: 240px;
      left: -10px;
    }

    @include breakpoint(ss) {
      width: 226px;
      height: 205px;
      left: -10px;
    }
  }

  .feat_container:nth-of-type(even) .img_shadow {
    transform: rotate(45deg);
    left: auto;
    right: 43px;

    @include breakpoint(xs) {
      right: -10px;
    }
  }

  h2 {
    text-align: center;
    margin: 0 auto 26px;
    padding-bottom: 26px;
    @include breakpoint(xs) {
      text-align: left;
    }
  }
}

.feat_container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 82px;

  .side_grid {
    padding-top: 60px;
    @include breakpoint(md) {
      margin-bottom: $marginBottom;
    }
  }
  h3 {
    margin-bottom: 0px;
  }
  ul {
    padding: 20px;
  }
  li {
    padding: 1px 0;
  }
  img {
    width: 100%;
    max-width: 433px;
    justify-self: center;

    @include breakpoint(xs) {
      width: 110%;
    }
  }
  .feat_btn {
    @include button(16px, hollow);
  }
  @media screen and (min-width: 992px) {
    &:nth-of-type(even) {
      direction: rtl;
      ul,
      h3 {
        direction: ltr;
      }
      .feat_btn {
        float: left;
      }
    }
  }
  @include breakpoint(md) {
    grid-template-columns: 1fr;
  }
  .feat_list {
    li::marker {
      color: $main-color;
    }
  }
}

.feat_container_bis {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 950px;
  position: relative;
  margin: auto;

  p {
    margin-bottom: 0;
  }

  .img_shadow {
    position: absolute;
    left: 240px;
  }

  .feats_box {
    background-color: lightgray;
    padding: 20px;
    border-radius: 30px;    
    width: 200px;
    text-align: center;
  }

  .feats_line, .title {
    margin-bottom: 20px;
  }

  .title {
    color: $main-color;
    font-weight: bold;

  }
}