.header {
	position: fixed;
	display: flex;
	justify-content: center;
	padding: 10px 0;
	width: 100%;
	background-color: white;
	z-index: 99;

	li {
		list-style: none;
	}

}

.add-shadow {
	box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
}

.container_nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	@include breakpoint(xl) {
		padding: 0 50px;
	}

	@include breakpoint(md) {
		padding: 0 20px;
	}

	@include breakpoint(sm) {
		width: 100vw;
		padding: 10px 20px;

		img {
			width: 80%;
		}
	}
}

.logo_nav {
	@include breakpoint(md) {
		padding-right: 20px;
	}
}

.nav_menu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: 60px;

	ul {
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			padding: 20px;
		}

		li:hover {
			color: $main-color;
		}

	}

	@include breakpoint(md) {
		gap: 0px;

		ul>li {
			padding: 10px;
		}
	}

	#menu-login li {
		margin-right: 20px;

		@media screen and (max-width: 1138px) {
			position: relative;
			margin-right: 10px;
		}
	}

	#menu-nav, #menu-nav-french, #menu-nav-dutch {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0%);
		@media screen and (max-width: 1111px) {
			position: relative;
		}

		// @include breakpoint(lg){
		// }
	}
}

#menu-login li:nth-child(2n) {
	display: flex;
	justify-content: center;
	align-items: center;
	@include button(16px);
	padding: 0 30px;
	width: 180px;
	height: 45px;
	color: $white;
}

#lang_switch_wrap {
	position: relative;
	width: 41px;
	box-sizing: initial;
	align-self: flex-start;
	overflow: hidden;
	height: 41px;
	border: solid 2px #FF7300;
	border-radius: 8888px;
	transition: height .2s ease;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 7px;

	&:hover {
		height: 123px;
	}

	.lang_btns {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $white;
		cursor: pointer;
		// font-weight: 600;

		.current_lang {
			color: $main-color;
		}

		.other_lang {
			color: $black;
			transition: .2s;
		}

		.lang_display {
			font-size: 16px;
			transition: .2s;
			width: 41px;
			height: 41px;
			line-height: 1;
			border: solid 2px white;
			border-radius: 1000px;
			display: flex;
			justify-content: center;
			align-items: center;

			&:not(:last-of-type) {
				transition: .2s;
			}

			&:hover {
				color: $white;
				background-color: $main-color;
				transition: .5s;
			}
		}
	}
}

// mobile menu
.nav_mobile {
	display: none;
}

.burger_to_open {
	display: none;
}

@include breakpoint(sm) {
	.nav_menu {
		display: none;
		width: 0px;
	}

	.nav_mobile {
		display: block;
		position: absolute;
		z-index: 12;
		height: 100vh;
		width: 100vw;
		top: -100vh;
		// top: 0vh;
		left: 0;
		background-color: $main-color;
		transition: .5s ease-in-out;
	}

	.open {
		top: 0px;
		transition: .5s ease-in-out;
	}

	.burger_to_open {
		cursor: pointer;
		display: inline-block;
		margin-left: 20px;
		z-index: 50;
	}

	.mobile_logo_container {
		display: flex;
		width: 100vw;
		justify-content: space-between;
		align-items: center;
		padding: 20px;

		.logo_mobile {
			img {
				width: 80%;
			}
		}

		.empty_squarre {
			width: 52px;
			margin-left: 20px;
			display: inline-block;
			height: 40px;
		}
	}

	.nav_mobile_items {
		margin-top: 3rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $white;
		font-size: 20px;
		text-align: center;

		li {
			margin-bottom: 2rem;
		}

		a {
			&:hover {
				color: $main-hover;
			}
		}
	}

	.try {
		display: flex;
		justify-content: center;
		align-items: center;
		@include button(20px);
		color: $main-color;
		background-color: $white;
		height: 56px;

		a {
			&:hover {
				color: $white;
			}
		}
	}

	#mobile_lang_switch {
		width: 220px;
		margin: auto;

		.mobile_lang_btns {
			color: $white;
			display: flex;
			justify-content: space-around;
			color: $main-color;

			.lang_display {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $white;
				width: 41px;
				height: 41px;
				border-radius: 500px;
				cursor: pointer;

				&:hover {
					background-color: $main-color;
					color: $white;
					opacity: 1;
					border: solid 2px $white;
				}
			}

			.other_lang {
				opacity: .5;
			}
		}
	}

	// burger icon
	.burger-bg-1 {
		background: black;
	}

	.burger-bar {
		height: 3px;
		width: 32px;
		margin: 5px;
		border-radius: 10px;
	}

	.burger-icon {
		cursor: pointer;
		display: inline-block;
	}

	/* Simple */
	.burger-bar-simple {
		transition: 0.2s;
		-webkit-transition: 0.2s;
		background-color: $main-color;
	}

	.simple .burger-bar-simple:nth-child(1) {
		transform: translate(0px, 8px) rotate(45deg);
		background-color: $white;
	}

	.simple .burger-bar-simple:nth-child(2) {
		opacity: 0;
		background-color: $white;
		// -webkit-transition: 0.1s;
	}

	.simple .burger-bar-simple:nth-child(3) {
		background-color: $white;
		transform: translate(0px, -8px) rotate(-45deg);
	}
}