.pricing {
	.container {
		text-align: center;
		margin: 0px auto;
		padding: 50px 0;

		@include breakpoint(md) {
			width: 750px;
		}

		@include breakpoint(sm) {
			width: 100%;
		}

		h1,
		h2,
		.margin_bottom {
			margin-bottom: 25px;
		}
	}

	.hidden {
		display: none;
	}

	.faq_header,
	.pricing_header,
	.compare_header {
		width: 800px;
		margin: auto;

		@include breakpoint(md) {
			width: 750px;
		}

		@include breakpoint(sm) {
			width: 90%;
		}
	}

	.container_pricing {
		.title_content {
			margin-bottom: 0;
		}

		//bouton slider
		.tabs_container {
			position: relative;
			margin: 35px 0 50px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 10px;

			.promo_text {
				margin-bottom: 0;
				margin-left: 220px;

				@include breakpoint(xs) {
					margin-left: 140px;
				}
			}

			.annual_promo {
				text-align: right;
			}

			.promo_arrow {
				position: absolute;
				z-index: 10;
				top: 10%;
				right: calc(50% - 205px);

				@include breakpoint(xs) {
					right: calc(50% - 165px);
				}
			}

			.tabs {
				display: flex;
				position: relative;
				background-color: $light-color;
				padding: 5px;
				border-radius: 99px;
			}

			.tabs * {
				z-index: 2;
			}

			input[type="radio"] {
				display: none;
			}

			.tab {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 60px;
				width: 200px;
				border-radius: 99px;
				cursor: pointer;
				transition: color 0.15s ease-in;

				@include breakpoint(xs) {
					width: 150px;
				}
			}

			input[type="radio"]:checked+label {
				color: black;
			}

			input[id="monthly"]:checked~.glider {
				transform: translateX(0);
			}

			input[id="annual"]:checked~.glider {
				transform: translateX(100%);
			}

			.glider {
				position: absolute;
				display: flex;
				height: 60px;
				width: 200px;
				z-index: 1;
				border-radius: 99px;
				color: $black;
				background-color: $white;
				transition: 0.25s ease-out;

				@include breakpoint(xs) {
					width: 150px;
				}
			}
		}

		.pricing_header {
			text-align: center;
		}

		.billing_options {
			display: flex;
			gap: 30px;
			align-items: flex-end;

			// pour aligner "Prices per month. Larger plans are available on request." au milieu
			padding-bottom: 18px;

			@include breakpoint(xl) {
				flex-direction: column;
				align-items: center;
			}

			.billing_option {
				width: 375px;
				min-height: 515px;
				background-color: $main-color;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				padding: 20px 15px 20px 15px;
				border-radius: 30px;

				@include breakpoint(xl) {
					width: 90%;
					max-width: 375px;
				}

				h3 {
					color: $white;
					margin-bottom: 15px;
				}

				.small_inside_container {
					background-color: $white;
					width: 100%;
					min-height: 420px;
					border-radius: 30px;
					padding-top: 25px;
					display: flex;
					flex-direction: column;
					align-items: center;

					.price {
						font-size: 100px;
						display: flex;
						justify-content: center;
						margin-bottom: 15px;

						.euro {
							font-size: 57px;
							vertical-align: super;
						}
					}

					.info {
						font-size: 20px;
						margin: 0 0 20px 0;
					}

					.billing_button {
						@include button(16px);
						width: 225px;
						margin: 20px 0;
						color: $white;
						height: 60px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-weight: 600;
					}

					.see_more {
						font-size: 12px;
						margin-bottom: 24px;
					}
				}

				&.medium {
					background-color: $black;
					height: 555px;
					padding-top: 40px;

					.billing_button {
						background-color: $black;
						border-color: $black;
					}
				}
			}
		}

		.info_plans {
			margin-top: 30px;

			@include breakpoint(xs) {
				margin: 30px auto 0 auto;
				width: 90%;
			}
		}
	}

	.faq_container {
		.questions {
			display: flex;
			flex-direction: column;
			gap: 25px;
			align-items: center;

			.question {
				width: 1185px;
				border-radius: 30px;
				// box-shadow: 0 3px 30px rgba(51, 170, 255, 0.25);
				background-color: $white;
				padding: 30px;
				text-align: left;

				@include breakpoint(lg) {
					width: 90%;
				}

				.title_question {
					color: $main-color;
					font-size: $fs-sub;
					margin-bottom: 15px;
				}

				.content_question {
					margin-bottom: 0;
				}
			}
		}
	}

	.compare_container {
		.columns_title {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			height: 60px;
			width: 100%;

			@media screen and (max-width: 657px) {
				font-size: 24px;
				grid-template-columns: 200px repeat(3, 1fr);
			}

			.column {
				display: flex;
				flex-direction: column;
				align-items: center;

				.title_column {
					font-size: $fs-sub;

					@include breakpoint(md) {
						padding-top: 60px;
					}

					@include breakpoint(xs) {
						font-size: 16px;
					}
				}

				.title_mobile {
					font-size: 0;
				}

				@media screen and (max-width: 657px) {

					.title_column {
						font-size: 0px;
					}

					.title_mobile {
						font-size: $fs-sub-mobile;

					}
				}

				.free_trial_button {
					@include button(15px);
					margin: 20px 0;
					color: $white;
					height: 46px;
					display: flex;
					align-items: center;
					justify-content: center;
					font-weight: 600;
					width: 225px;

					@include breakpoint(md) {
						display: none;
					}
				}
			}
		}

		.plans_table {
			.table {
				margin-bottom: 50px;

				.table_row:nth-child(even) {
					background-color: $light-color;
				}

				.titre_table {
					text-align: left;
					font-size: $fs-sub;
					margin-bottom: 20px;

					@include breakpoint(sm) {
						padding-left: 15px;
					}

					@include breakpoint(xs) {
						font-size: $fs-sub-mobile;
					}
				}

				.table_row {
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					height: 60px;

					@media screen and (max-width: 657px) {
						font-size: 14px;
						grid-template-columns: 200px repeat(3, 1fr);
					}

					.row {
						display: flex;
						justify-content: center;
						align-items: center;

						.unlimited {
							@include breakpoint(xs) {
								font-size: 0px;

								&::after {
									content: "\221E";
									font-size: 30px;
								}
							}
						}
					}

					.row_title {
						justify-content: flex-start;
						padding-left: 15px;
						text-align: left;

						@include breakpoint(md) {
							max-width: 165px;
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	.mobile_button_container {
		display: none;

		@include breakpoint(md) {
			display: flex;
			justify-content: center;
			align-items: center;

			.free_trial_button {
				min-width: 200px;
				font-size: 14px;
				width: 60%;
			}
		}




		.free_trial_button {
			margin-top: 0;
			@include breakpoint(sm) {
				width: 70%;
			}
			@include breakpoint(xs) {
				width: 90%;
			}
		}
	}

	.bg_blue {
		p {
			margin-bottom: 25px;
		}
	}
}