@mixin breakpoint($class) {
  @if $class ==xs {
    @media (max-width: 480px) {
      @content;
    }
  }

  @else if $class == ss {
    @media (max-width: 360px) {
      @content;
    }
  }

  @else if $class ==s {
    @media (max-width: 560px) {
      @content;
    }
  }

  @else if $class ==sm {
    @media (max-width: 768px) {
      @content;
    }
  }

  @else if $class ==md {
    @media (max-width: 992px) {
      @content;
    }
  }

  @else if $class ==lg {
    @media (max-width: 1280px) {
      @content;
    }
  }

  @else if $class ==xl {
    @media (max-width: 1366px) {
      @content;
    }
  }
}

// POUR LES CONTAINERS AVEC LES MOTS QUI DEPASSENT
@mixin word_wrap(){
  word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

@mixin button($font-size: 16px, $type: solid) {
  border-radius: 50px;
  padding: 0px 35px;
  border: solid 2px $main-color;
  font-size: $font-size;
  color: $white;
  transition: 0.25s ease-out;
  height: 46px;
  width: 260px;
  &:hover {
    border: solid 2px $main-hover;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.25s ease-out;
  }
  @if $type == hollow {
    background-color: rgba(255, 255, 255, 0);
    color: $main-color;
    &:hover {
      background-color: $main-hover;
      color: $white;
    }
  }
  @else {
    background-color: $main-color;
    &:hover {
      background-color: $main-hover;
    }
  }
}