// @import url('https://fonts.googleapis.com/css2?family=Poppins+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

$white: #ffffff;
$black: #3D464D;
$grey: #333;
$blue: #33AAFF;
$light-blue: #EAF6FF;

$main-color: #FF7300;
$lighter-color: #ff730086;
$main-hover: #FF5800;            
$light-color: #ff73001a;
$danger-color: #FF1A1A; 
$warning-color: #FFB300;
$success-color: #04BF8A;

$fontMain: 'Poppins', sans-serif;
$fontBis: 'Poppins', sans-serif;

$light: 300;
$regular: 400;

$defaultSize: 1280px;
$smallSize: 1000px;
$max-width-home:1180px;

$spaceMin: 5%;
$spaceLow: 35px;
$spaceMedium: 55px;
$spaceLarge: 10%;

$marginBottom : 26px;