// @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

$white: #ffffff;
$black: #000000;
$blue: #33AAFF;
$light-blue: #33aaff23;

$main-color: #33AAFF;
$light-color: #33aaff23;

$fontMain: 'Poppins', sans-serif;
$fontBis: 'Poppins', sans-serif;

$light: 300;
$regular: 400;

$defaultSize: 1280px;
$smallSize: 1000px;

$spaceMin: 5%;
$spaceLow: 35px;
$spaceMedium: 55px;
$spaceLarge: 10%;